
* {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
}
.dark {
  background-color: #171717;
  margin: 0;
  padding: 0;
}
.index {
  background-color: #171717;
  padding: 2rem;
  justify-content: space-between;
  display: flex;
}
.title {
  font-style: inherit;
  color: #da0037;
}
.box2 .title{
  text-align: center;
}
.highlight-button:focus {
  outline: 2px solid blue;
}
.btns {
  background-color: #171717;
  border: 1px solid #00000000;
  border-radius: 10px;
  color: #ededed;
  outline: 1px solid #da0037;
  transition: 0.5s;
}
.btns:hover {
  background-color: #171717;
  outline-offset: 3px;
  border-radius: 10px;
  color: #da0037;
}
.btns-calcula {
  margin-top: 7%;
  width: 20rem;
  height: 5rem;
}
.linebtns {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.line2 {
  display: flex;
  margin-top: 2rem;
}
.box {
  border-radius: 10px;
  border: 3px solid #da0037;
  background-color: #444444;
  color: #ededed;
  padding: 0.5rem;
}
.box1 {
  width: 50rem;
  height: 45rem;
}

.box2 {
  
  width: 35rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.entradas-dados {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.entradas-opcoes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.tabela-dados {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
}
.entradas-dados input {
  background-color: #171717;
  text-align: center;
  color: #ededed;
  border-radius: 10px;
  margin-top: 5px;
  border: 1px solid #da0037;
  transition: 0.5s;
  height: 2rem;
}
.entradas-dados input::placeholder {
  color: #444444;
}
.entradas-dados input:focus {
  color: #da0037;
  background-color: #ededed;
  border: 1px solid #da0037;
}

.entradas-dados input::-webkit-outer-spin-button,
.entradas-dados input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9rem;
}
.item {
  
  width: 20rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.entradas-opcoes input{
  background-color: #da0037;
}

.checkbox{
  border: 1px solid #da0037;
  text-align: center;
  width: 2rem;
  background-color: #da0037;
  border-radius: 10px 0px 0px 10px;
}
.checkbox input{
  background-color: #444444;
}
.label{
  border: 1px solid #da0037;
  text-align: left;
  width: 18rem;
  background-color: #444444;
  border-radius: 0px 10px 10px 0px;
}
.label label{
  margin-left: 0.5rem;
}
.fonte{
  padding-top: 2rem;
}
.resultados{
  height: 22rem;
  
}